*.pgm
*.pyc
*.pkl
*.jar

/Matlab
/datasets
/out

*.index

ckpt-*

*.data-*

*.record

Tensorflow/protoc
Tensorflow/models
Tensorflow/labelimg

Tensorflow/workspace/images
utils-files/segmentation/images
utils-files/segmentation/images

.ipynb_checkpoints
__pycache__

*.tfevents*


**/pre-trained-models/*

*.pb

.venv
